.container {
    display: flex;
    justify-content: center;
    padding: 16px;
  }
  
  .property-form-card {
    width: 100%;
    max-width: 1000px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .submit-button-container{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  mat-form-field, mat-checkbox {
    width: 100%;
    margin-bottom: 16px;
  
  }
  