.property-details-container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}

#booking-form {
  mat-form-field{
    margin-right: 15px;
  }
}

.carousel-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.property-details-container h1,
.property-details-container h2,
.property-details-container h3 {
  margin-top: 0;
}

.carousel-inner {
  position: relative;
  width: 100%;
  max-width: 600px;
  max-height: 600px;
  overflow: hidden;
  border-radius: 8px;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.property-description,
.property-location,
.property-type {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.booking-form,
.property-options {
  margin-top: 20px;
}

.property-options .option {
  display: inline-block;
  background: #f1f1f1;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 4px;
  font-size: 14px;
}

.property-description p,
.property-location p,
.property-type p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
  margin-left: 20px;
}

.check-dates {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-form-field {
  width: 30%;
}

.form-button-container {
  display: flex;
}

.booking-form {
  width: 100%;
  margin-bottom: 16px;
}

span {
  font-size: 1.3rem;
  font-weight: 500;
}

/* Comments Section */
.comments-section {
  margin-top: 20px;
}

mat-card {
  margin-bottom: 10px;
}

mat-card-title {
  font-weight: bold;
}

mat-card-subtitle {
  color: gray;
}

/* New Comment Form */
.new-comment-form {
  margin-top: 20px;
}

.new-comment-form mat-form-field {
  width: 100%;
}
